
body {
  margin: 0;
  text-align: center;
}
h1{
  font-family: 'Palette Mosaic', cursive;
  color: #66BFBF;
  }
h2 {
  font-family: 'Andada Pro', serif;
  font-size: 2rem;
  color: #66BFBF;
}
h3{
  font-family: 'Andada Pro', serif;
  color: #11999E;
}
a{
  color: #11999E;
  margin: 100px;
}
p{
font-family: 'Georama', sans-serif;
color: #505050;
line-height: 2;
}

.bio {
  width: 500px;
  margin: auto;
}
hr {
  border-top: 10px dotted #EAF6F6;
  width: 5%;
}
.top-container {
  background-color: #E2F8F7;
  text-align: center;
  position: relative;
  padding-top: 125px;
}

.subtitle{
  font-weight: normal;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  top: 60px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 350px;
}

.middle-container {
  text-align: center;
}

.profile {
  padding: 100px;
}
.skill-row{
  width: 500px;
  margin: 50px auto 50px auto;
  text-align: left;
}

.skills {
  padding: 100px;
}
.lute-pic{
  width: 25%;
  float: left;
  margin-right: 30px;
  }

.translation-pic{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  padding: 100px;
}

.message {
  width: 50%;
  margin: auto;
}

.button {
  margin-top: 100px;
  margin-bottom: 0;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Georgia;
   width: 98px;
   font-size: 15px;
   font-weight: 400;
   padding: 22px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
  }

.button:hover {
   border: solid #FFFFFF 1px;
   background: #9DAAB9;
   background-image: -webkit-linear-gradient(top, #9DAAB9, rgba(255, 255, 255, 0.49));
   background-image: -moz-linear-gradient(top, #9DAAB9, rgba(255, 255, 255, 0.49));
   background-image: -ms-linear-gradient(top, #9DAAB9, rgba(255, 255, 255, 0.49));
   background-image: -o-linear-gradient(top, #9DAAB9, rgba(255, 255, 255, 0.49));
   background-image: -webkit-gradient(to bottom, #9DAAB9, rgba(255, 255, 255, 0.49));
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
  }

.bottom-container {
  text-align: center;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a:hover {
  color: white;
}
.copy-rights {
  color: white;
  font-size: 10px;
  padding: 30px;
}
